body {
    background-color: #124643;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(17, 51, 46);
    border: 2px solid rgb(60, 80, 23);
}

h1 {
    text-align: center;
}

nav ul li {
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
    justify-content: space-between;
}

a {
    justify-content: space-between;
    text-decoration: none;
    color:white;
    padding: 10px;
    transition: 0.5s;
}

a:hover {
    border: 0.1rem solid rgb(97, 129, 37);
    border-radius: 5px;
    color: rgb(97, 129, 37);
    transition: 0.5s;
}


footer {
    background-color: rgb(17, 51, 46);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

td {
    text-align: center;
    height: 100px;
}


