<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="templates/favicon.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <title>Книги</title>
    <style>
      table.table {
        margin-top: 10px;
      }

      .a-home {
        position: relative;
        margin-top: 200px;
      }
    </style>
</head>
<body>

     <header>
       <h1>Книгарня "FastAPI"</h1>
     </header>


      <table border="3" width="250" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.author.author }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    <nav class="a-home">
      <a href="/">
        <i class="bx bx-home-alt"></i>
        <span>Назад на головну</span>
      </a>
    </nav>

    <footer>
      <p>
        @2024 Книгарня "FastAPI", усі права захищені
      </p>
    </footer>

  </body>
</html>