<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Книгарня "FastAPI"</title>
    </head>
    <body>

        <header>
            <h1>Книгарня "FastAPI"</h1>
        </header>


        <nav>
            <ul>
                <li>
                    <a href="/books/">
                        <i class='bx bxs-book-alt'></i>
                        <span>Усі Книги</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-news'></i>
                        <span>Новини</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-money'></i>
                        <span>Бонусна програма</span>
                    </a>
                </li>
            </ul>
        </nav>

    <footer>
        <p>
            @2024 Книгарня "FastAPI", усі права захищені
        </p>
    </footer>

    </body>
</html>